@import url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&family=Mirza:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  overflow: scroll;
  margin: 0 auto auto;
  background-color: rgba(0, 0, 0, 1);
}

h1 {
  font-family: 'Jacquard 24 Charted', sans-serif;
  font-weight: 400;
  text-align: center;
  display: block;
  flex-wrap: wrap;
  font-style: normal;
  color: #00ff00;
}

h2 {
  color: rgba(255, 255, 255, 1);
  text-align: left;
  margin: 0;
  padding:10px;
  font-weight: 400;
  font-weight: normal;
  color: #00ff00;
  font-family: 'Jacquard 24 Charted', sans-serif;
  
  font-size: 21px;
  background:#545454;
}

iframe {
  border-right: 1px solid #00ff00;
  border-left: 1px solid #00ff00;
}

img {
  border: 1px solid #00ff00;
  padding-right: 3%;
  padding-left: 3%;
  width: 100%;
}

.header_class {
  background: rgba(40, 40, 40, 0.73);
  margin: 0;
  display: block;
}
